<div class="center">
  <h1>Tick Tack Toe</h1>
</div>

<center>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="gameboard" id="9" value="true"></div>
      <div class="gameboard" id="8" value="true"></div>
      <div class="gameboard" id="7" value="true"></div>
      <br>
      <br>
      <div class="gameboard" id="6" value="true"></div>
      <div class="gameboard" id="5" value="true"></div>
      <div class="gameboard" id="4" value="true"></div>
      <br>
      <br>
      <div class="gameboard" id="3" value="true"></div>
      <div class="gameboard" id="2" value="true"></div>
      <div class="gameboard" id="1" value="true"></div>
    </div>
  </div>
</div>
</center>
